.content_gap{
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 80px;
  
}

.content_gap h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding-bottom: 1.25rem;
  
}
.content_gap a{
  --tw-text-opacity: 1;
  color: rgb(6 182 212 / var(--tw-text-opacity));
  text-decoration: underline;
}
.content_gap p{
  font-size: 1.125rem
      /* 18px */
    ;
    line-height: 1.75rem
      /* 28px */
    ;
}

